/*Media Query :

Large Device to Small Devices;*/

@media all and (max-width : 1200px) {

}

@media all and (max-width : 1024px) {
}

@media all and (max-width : 992px) {
}

@media all and (max-width : 768px) {

button.navbar-toggler {
    position: absolute;
    top: -62px;
    outline: 1px solid #ffffff;
    padding: 3px;
    left: 91%;
}

.float-right.p-3 {
    width: 100%;
    /*background: black;*/
    position: absolute;
    right: 0;
    padding: 0px!important;
}

a.nav-link.text-uppercase.n_link.mr-4 {
    font-size: 13px!important;
    padding: 12px;
    color: black!important;
}

li.nav-item {
    border-bottom: 1px solid #eaeae1;
}

}

@media all and (max-width : 640px) {
}

@media all and (max-width : 480px) {
}


@media all and (max-width : 360px) {

button.navbar-toggler {
    position: absolute;
    top: -62px;
    outline: 1px solid #ffffff;
    padding: 3px;
    left: 87%;
}
    
}

@media all and (max-width : 320px) {
}